@font-face {
   font-family: WysiBBiconFont;
   src: url(wysibbiconfont/wysibbiconfont-wb.eot);
}
@font-face {
   font-family: WysiBBiconFont;
   src: url(wysibbiconfont/wysibbiconfont-wb.woff) format("woff"),
      url(wysibbiconfont/wysibbiconfont-wb.ttf) format("truetype");
   font-weight: 400;
   font-style: normal;
}
html {
   height: 100% !important;
}
.wysibb {
   line-height: normal;
   border: 1px solid var(--bs-secondary-bg-subtle);
   margin-bottom: 10px;
   position: relative;
   background: var(--bs-dark-bg-subtle);
   font-size: 1rem;
}
.wysibb.fullscreen {
   position: fixed;
   z-index: 100;
   bottom: -10px;
   right: 0;
   left: 0;
   top: 0;
}
.wysibb.fullscreen .wysibb-body {
   width: 100% !important;
   font-size: 1rem;
   overflow-x: hidden !important;
   color: var(--bs-light-text-emphasis);
}
#wbbmodal button:active,
#wbbmodal button:focus,
.wysibb button:active,
.wysibb button:focus {
   outline: 0;
}
.wysibb-body ol,
.wysibb-body ul {
   padding: 0 0 0 30px;
}
#markItUp,
#markItUp:focus,
.wysibb-texarea,
.wysibb-texarea:focus {
   border: none !important;
   margin: 0 !important;
   outline: 0 !important;
   padding: 0 !important;
   width: 100% !important;
   box-shadow: none !important;
   float: none !important;
}
.wysibb .wysibb-toolbar {
   float: left;
   width: 70px;
   height: 100%;
   max-height: 100% !important;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0;
   color: var(--bs-light-text-emphasis);
   background: var(--bs-dark-bg-subtle);
}
.wysibb .wysibb-text {
   margin: 0 0 0 70px;
}
.wysibb .wysibb-toolbar .modeSwitch {
   display: block;
   position: relative;
   right: 0;
   top: 0;
   border: 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
   border: 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select {
   width: 60px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container select.wbb-selectbox {
   height: 30px;
   max-width: 96%;
   margin: 1px 0;
   display: inline-block;
   background: 0 0;
   border: 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select {
   display: none;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
   display: inline-block;
   height: 32px;
   vertical-align: middle;
   padding: 0 1px;
   cursor: pointer;
   margin: 0 0 0 1px;
   font-size: 12px;
   border: 1px solid transparent;
   box-sizing: border-box;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover span.btn-tooltip {
   display: none;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .dis,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.dis:hover {
   opacity: 0.3;
   cursor: default;
   overflow: hidden;
   border: 0;
   padding: 1px 2px;
   background: 0 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:active {
   background: #ccc;
   border: 1px solid #aaa;
   box-shadow: inset 0 0 3px #aaa;
   border-radius: 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {
   display: block;
   height: 26px;
   min-width: 26px;
   margin: 2px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
   display: none;
   background: #333;
   position: absolute;
   line-height: 20px;
   font-size: 11px;
   padding: 3px 10px;
   bottom: 35px;
   left: 0;
   color: #fff;
   border-radius: 0;
   white-space: nowrap;
   z-index: 10000;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip ins {
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid #333;
   position: absolute;
   bottom: -5px;
   left: 3px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-text {
   text-transform: uppercase;
   font-family: sans-serif, Verdana, Tahoma;
   font-weight: 700;
   line-height: 28px;
   text-align: center;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
   padding: 0 1px;
   border: 1px solid transparent;
   border-radius: 0;
   background: var(--bs-secondary-bg-subtle);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
   color: var(--bs-light-text-empashis);
   font-family: WysiBBiconFont;
   font-size: 18px;
   line-height: 28px;
   text-align: center;
   speak: none;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover .fonticon {
   color: var(--bs-success-text-empashis);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on .fonticon {
   text-shadow: none;
   color: var(--bs-success-text-empashis);
}
.bbc_code,
.modesw {
   font: 12px/26px monospace;
   font-weight: 700;
   text-align: center;
}
.tthotkey {
   color: #ddd;
   font-size: 9px;
}
.wysibb-text-editor {
   outline: 0;
   font-size: 1rem;
}
.bottom-resize-line {
   display: none;
   height: 5px;
   cursor: ns-resize;
}
.bottom-resize-line.drag,
.bottom-resize-line:hover {
   background: #eee;
}
.wbbtab {
   margin-left: 30px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown:active {
   padding-right: 10px;
   background: 0 0;
   border: 1px solid transparent;
   box-shadow: none;
   position: relative;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown:hover {
   background: #eee;
   border: 1px solid transparent;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown.on:active {
   border: 1px solid #aaa;
   background: #ccc;
   box-shadow: inset 0 0 3px #aaa;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown ins.ar {
   display: block;
   position: absolute;
   right: 10%;
   top: 4px;
   width: 9px;
   height: 24px;
   cursor: default;
   text-decoration: none;
   font-size: 14px;
   padding: 0 2px;
   line-height: 24px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown:hover {
   padding-right: 10px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
   display: none;
   position: fixed;
   top: 10px;
   left: 3%;
   border: 1px solid #bbb;
   box-shadow: 0 0 3px #aaa;
   width: 90%;
   padding: 5px;
   background: #fff;
   max-height: 90%;
   overflow: auto;
   z-index: 1000;
}
.ve-tlb-colorpick .cp-line {
   display: block;
   position: absolute;
   width: 60%;
   height: 3px;
   background: #000;
   bottom: 3px;
   left: 20%;
}
.wbb-list .sc {
   width: 23%;
   height: 30px;
   margin: 0 0 1% 1%;
   display: inline-block;
   zoom: 1;
   cursor: pointer;
   border: 1px solid #fff;
}
.wbb-list .sc:hover {
   border: 1px solid #333;
}
.wbb-list .nc {
   height: 24px;
   line-height: 24px;
   text-align: center;
   color: #666;
   margin: 0 1px 5px 1px;
}
.wbb-list .nc:hover {
   background: #eee;
}
.wbb-list .pl {
   display: block;
   height: 5px;
}
.tbl-sel {
   border: 1px solid #ddd;
   position: absolute;
   cursor: pointer;
   box-sizing: border-box;
}
.tbl-sel:hover {
   background: #eee;
}
.wbb-table td {
   border: 1px dashed #ddd;
   padding: 3px;
   margin: 5px;
   min-width: 5px;
   min-height: 15px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select.dis:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select:active {
   width: 77px;
   padding: 1px 1px 1px 5px;
   border: 1px solid transparent;
   background: 0 0;
   box-shadow: none;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select:hover {
   background: #eee;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select.on:active {
   padding: 1px 1px 1px 5px;
   border: 1px solid #aaa;
   background: #ccc;
   box-shadow: inset 0 0 3px #aaa;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select .wbb-list {
   padding: 0;
   max-height: 250px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select .sar {
   display: block;
   position: absolute;
   right: 3px;
   top: 3px;
   width: 10px;
   height: 22px;
   cursor: default;
   font-size: 14px;
   text-decoration: none;
}
.wbb-select .val {
   height: 28px;
   line-height: 30px;
   font-weight: 700;
   font-size: 11px;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin-right: 10px;
}
.wbb-select .option {
   display: block;
   padding: 6px 10px;
   white-space: nowrap;
   cursor: pointer;
}
.wbb-select .option:hover {
   background: #eee;
}
.wbb-select .option.selected {
   background: #428bca;
   color: #fff;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox {
   background: 0 0;
   border: 1px solid transparent;
   box-shadow: none;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox.on:active {
   border: 1px solid #aaa;
   background: #ccc;
   box-shadow: inset 0 0 3px #aaa;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox .wbb-list {
   width: 156px;
}
.smile {
   width: 16px;
   height: 16px;
   line-height: 20px;
   padding: 5px;
   display: inline-block;
   zoom: 1;
   cursor: pointer;
   vertical-align: middle;
}
.smile img {
   max-width: 16px;
   max-height: 16px;
}
#wbbmodal {
   font: 12px/1.2 Arial, Verdana;
   position: fixed;
   text-align: center;
   bottom: 0;
   left: 0;
   top: 0;
   right: 0;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   background: rgba(0, 0, 0, 0.5);
   zoom: 1;
   z-index: 1100;
}
#wbbmodal .wbbm {
   background: #fff;
   text-align: left;
   max-width: 90%;
   max-height: 90%;
   margin: 30px auto;
   border: 1px solid #bbb;
   box-shadow: 0 0 5px #333;
   overflow: auto;
}
#wbbmodal .wbbm-title {
   color: #333;
   position: relative;
   padding: 5px 10px;
   border-bottom: 1px solid #ccc;
}
#wbbmodal .wbbm-title .wbbm-title-text {
   font-size: 1.6em;
   line-height: 2em;
   margin: 0;
   padding: 0;
}
#wbbmodal .wbbm-title .wbbclose {
   display: block;
   text-transform: uppercase;
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 21px;
   font-weight: 700;
   cursor: pointer;
   color: #888;
}
#wbbmodal .wbbm-title .wbbclose:hover {
   color: red;
}
#wbbmodal .wbbm .wbbm-tablist {
   padding: 10px 20px;
}
#wbbmodal .wbbm .wbbm-tablist ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}
#wbbmodal .wbbm .wbbm-tablist ul li {
   padding: 10px;
   cursor: pointer;
   margin: 5px 0;
   position: relative;
   border-radius: 0;
   display: inline-block;
   margin: 0 10px 5px 0;
}
#wbbmodal .wbbm .wbbm-tablist ul li.on,
#wbbmodal .wbbm .wbbm-tablist ul li.on:hover {
   background: #428bca;
   color: #fff;
   cursor: default;
}
#wbbmodal .wbbm .wbbm-tablist ul li:hover {
   background: #eee;
}
#wbbmodal .wbbm-cont {
   padding: 10px 20px;
}
#wbbmodal .wbbm-content {
   min-height: 50px;
   max-height: 100%;
}
#wbbmodal .div-modal-text {
   border: 1px solid #aaa;
   padding: 2px 5px;
   line-height: 28px;
   max-height: 100px;
   overflow: auto;
   font-size: 14px;
}
#wbbmodal .wbbm-bottom {
   border-top: 1px solid #ccc;
   padding: 10px;
   background: #f1f1f1;
}
#wbbmodal button {
   display: inline-block;
   zoom: 1;
   font-size: 14px;
   padding: 3px 15px;
}
#wbbmodal .wbb-button {
   background: #428bca;
   color: #fff;
   line-height: 26px;
   border: 1px solid #357ebd;
   border-radius: 0;
   cursor: pointer;
}
#wbbmodal .wbb-button:hover {
   background: #3276b1;
   border: 1px solid #285e8e;
}
#wbbmodal .wbb-cancel-button {
   background: #f5f5f5;
   color: #333;
   line-height: 26px;
   border: 1px solid #ddd;
   border-radius: 0;
   cursor: pointer;
   margin-left: 15px;
}
#wbbmodal .wbb-cancel-button:hover {
   background: #fff;
   border: 1px solid #ccc;
}
#wbbmodal .wbb-remove-button {
   background: #d9534f;
   color: #fff;
   line-height: 26px;
   border: 1px solid #d43f3a;
   border-radius: 0;
   cursor: pointer;
   float: right;
}
#wbbmodal .wbb-remove-button:hover {
   background: #d2322d;
   border: 1px solid #ac2925;
}
#wbbmodal .wbbm-inp-row {
   margin-bottom: 15px;
}
#wbbmodal .wbbm-inp-row label {
   display: block;
   font-weight: 700;
   margin-bottom: 3px;
}
#wbbmodal .wbbm-inp-row input {
   display: block;
   height: 34px;
   padding: 2px 5px;
   line-height: 1.42857143;
   font-size: 14px;
   width: 100%;
   border: 1px solid #aaa;
   outline: 0;
   box-sizing: border-box;
   border-radius: 0;
}
#wbbmodal .wbbm-inperr {
   color: red;
   font-size: 10px;
   display: block;
}
#wbbmodal .wbbm-brdred {
   border-color: red !important;
}
#wbbmodal #imguploader {
   text-align: center;
}
#wbbmodal #imguploader.drag {
   border: 3px dashed #ccc;
}
#wbbmodal #imguploader.drag.dragover {
   background: #feffe4;
}
#wbbmodal #imguploader.drag.wbb-loading {
   padding: 40px 0;
}
#wbbmodal #imguploader.drag .p {
   font-size: 2em;
   color: #aaa;
   margin-top: 15px;
}
#wbbmodal #imguploader.drag .p2 {
   color: #aaa;
}
#wbbmodal #imguploader.drag .fileupload {
   margin: 15px 0;
}
#wbbmodal .fileupload {
   margin: 40px 0;
   position: relative;
}
#wbbmodal .dragupload {
   margin: 10px 0 15px 0;
   position: relative;
}
#wbbmodal .fileupload input.file {
   opacity: 0;
   width: 230px;
   height: 32px !important;
   position: absolute;
   top: 2px;
   left: 50%;
   margin-left: -115px;
   display: block;
}
.loader {
   margin: 30px 0;
}
.upl-error {
   color: red;
   display: block;
}
.powered {
   display: block;
   position: absolute;
   bottom: -18px;
   right: 5px;
   font-size: 10px;
}
.wysibb .wysibb-body .imgWrap {
   position: relative;
   display: inline-block;
}
.wysibb .wysibb-body .imgWrap img {
   opacity: 0.5;
}
.content-phpbb3 {
   font-size: 13px;
   line-height: normal !important;
}
.content-phpbb3 .codebox dt {
   float: none;
   width: 100%;
}
.content-phpbb3 .codebox dd {
   margin: 0 !important;
}
@media (min-width: 992px) {
   .wysibb .wysibb-text {
      padding: 5px;
      margin: 0;
   }
   .wysibb .wysibb-toolbar {
      float: none;
      width: auto;
      overflow: visible;
      border-right: 0;
   }
   .wysibb .wysibb-toolbar {
      position: relative;
      padding: 0 35px 0 0;
      height: auto;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container {
      margin: 0;
      padding: 0;
      display: inline-block;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
      display: inline-block;
      height: 32px;
      min-width: 28px;
      position: relative;
      vertical-align: middle;
      padding: 0 1px;
      cursor: pointer;
      margin: 0 0 0 1px;
      font-size: 12px;
      border: 1px solid transparent;
      width: auto;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover span.btn-tooltip {
      display: block;
   }
   .wysibb .wysibb-toolbar .modeSwitch {
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      border: 0;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container select.wbb-selectbox {
      display: none;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select {
      display: inline-block;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select ins,
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select span.val {
      display: block;
   }
   .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
      display: none;
      position: absolute;
      top: 32px;
      left: -1px;
      border: 1px solid #bbb;
      box-shadow: 0 0 3px #aaa;
      width: 190px;
      background: #fff;
      max-height: 220px;
      overflow: auto;
      z-index: 1000;
   }
   .wbb-list .sc {
      width: 16px;
      height: 16px;
      margin: 0 0 1px 1px;
      display: inline-block;
      zoom: 1;
      cursor: pointer;
      border: 1px solid #fff;
   }
   .ve-tlb-colorpick {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: right;
   }
   .wysibb .bottom-resize-line {
      display: block;
      height: 5px;
      cursor: ns-resize;
   }
}
.wbb-messages {
   width: 34px !important;
   padding: 0 !important;
}
.wbb-messages .val {
   background: url(sprite.png) no-repeat center 5px !important;
   height: 26px !important;
   margin: 2px !important;
   text-indent: -1000px;
}
.wbb-messages .fonticon {
   display: none !important;
}
.newicon {
   background-image: url(sprite.png);
   background-position: top center;
   background-repeat: no-repeat;
   margin: 7px 2px !important;
   height: 18px !important;
}
.i-spoiler {
   background-position: center -18px;
}
.i-flash {
   background-position: center -36px;
}
.i-goear {
   background-position: center -54px;
}
.i-code {
   background-position: center -72px;
}
.i-justify {
   background-position: center -90px;
}
.i-fullscreen {
   background-position: center -108px;
}
code {
   font-family: monospace;
   border: 1px solid #c9c9c9;
   border-radius: 4px;
   background: #fafafa;
   display: block;
   padding: 10px;
}
.bbctab {
   background: #fff;
   border-spacing: 0;
   border: 1px solid #ccc;
   border-width: 1px 0 0 1px;
   width: auto !important;
}
.bbctab td {
   padding: 5px;
   min-width: 5px;
   min-height: 15px;
   border: 1px solid #ccc;
   border-width: 0 1px 1px 0;
}
.bbcmsg.error,
.bbcmsg.info,
.bbcmsg.notice,
.bbcmsg.success,
.bbcmsg.warning {
   background-repeat: no-repeat;
   background-position: 11px center;
   padding: 10px 35px;
   border: 1px solid;
   border-radius: 3px;
}
.bbcmsg.notice {
   background-color: #f8f8f8;
   background-image: url(msgs/notice.png);
   border-color: #dedede;
   color: #666;
}
.bbcmsg.warning {
   background-color: #fff8d8;
   background-image: url(msgs/warning.png);
   border-color: #f3d97e;
   color: #a68510;
}
.bbcmsg.success {
   border-color: #bee4a5;
   background-image: url(msgs/success.png);
   background-color: #ebf9e2;
   color: #658c2c;
}
.bbcmsg.error {
   background-color: #f8e9e9;
   background-image: url(msgs/error.png);
   border-color: #e4bbbc;
   color: #bf2c11;
}
.bbcmsg.info {
   background-color: #e9f3f8;
   background-image: url(msgs/info.png);
   border-color: #bbd7e4;
   color: #3876c6;
}
.spoiler .title {
   margin: 0 !important;
   border-radius: 0 !important;
}
.spoiler .body {
   border: 1px solid #ccc;
   border-top: none;
   min-height: 15px;
   padding: 5px;
}
.bbclist,
.wysibb-body ol,
.wysibb-body ul {
   display: block;
   padding: 0 0 0 30px;
   list-style-type: disc;
   margin: 0;
}
.wysibb-body ol li,
ol.bbclist li {
   list-style-type: decimal !important;
   display: list-item;
   line-height: 20px;
   margin: 0;
}
.bbclist li,
.wysibb-body ul li {
   list-style-type: disc !important;
   display: list-item;
   line-height: 20px;
   margin: 0;
}
.wbb-smilebox .wbb-list {
   width: 714px;
}
.wysibb.fullscreen .wbb-fullscreen,
.wysibb.fullscreen .wbb-fullscreen:hover {
   background: #ccc !important;
   border: 1px solid #aaa !important;
   box-shadow: inset 0 0 3px #aaa;
   border-radius: 0;
}
#post-comentarios {
   overflow: visible;
}
#preview img {
   max-width: 100%;
}

.thumbnails {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 6px;
	background-color: #d4d4d4;
	padding: 6px;
}
.thumbnails img {
	height:160px;
	object-fit: cover!important;
	border-radius: 4px;
	overflow: hidden
}
.enlaces-download {
	display: flex;
	justify-content: center;
	align-items: center;
}
.enlaces-download.load > a {
	width: 20%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
hr {
	border: 0;
	background: linear-gradient(to right, #1b1b1b, #525252, #616161, #525252, #1b1b1b);
	height:2px;
	border-radius: 3px;
	position:relative;
	margin: 20px 0;
}
.wbb-thumbnails .featherIcons {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}
pre.code {
	line-height: .8em;
	padding: 10px 8px 8px 8px;
	border-radius: 5px;
	word-break: all;
	display: block;
}
.hr_block {
	padding: 6px;
	text-align: center;
	color: #EEE;
	display:flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase; 
	font-weight: bolder;
	margin: 10px 0;
	border: 4px solid #FFF7;
	letter-spacing: 2px
}
.hr_block .featherIcons {
	width: 20px;
	height: 20px;
	stroke-width: 3px;
	margin-right: 5px;
}
.__trailer {
	background-color: #e44e5e;
}
.__capturas {
	background-color: #2dacbc;
}
.__descargas {	
	background-color: #42b15d;
}
.__servidores {	
	background-color: #8c46f8;
}
.info-movie > .info-item {
	font-size: 13px;
	margin-right: 10px;
	padding-right: 10px;
	text-align: center;
}
.info-movie > .info-item strong {
	display: block;
	font-weight: 600;
}