cache/
PullIn/
settings/config-*.*
settings/settings.json
# Archivos base
!settings/config-example-settings.json
!settings/config-example-user.json

# Los avatares
files/avatar/*.webp
!files/avatar/avatar.webp
files/uploads/*.*
files/downloads/*.*

# Archivos
config.inc.php

# Archivo generado desde el install
.lock

# Solo el theme SyntaxisLite2
themes/*
!themes/SL2
themes/SL2/js/files_.js