.image-end {
	width: 190px;
	height: 190px;
}
.check-version, .permisos {
	--size: 50px;
	display: grid;
	grid-template-columns: var(--size) 1fr;
	gap: .5rem;
}
.check-version .icon, .permisos .icon {
	font-size: calc(var(--size) - 10px);
	width: var(--size);
	height: var(--size);
	display: grid;
	place-items: center;
}
.permisos .icon {
	font-size: var(--size);
}