/**
 * Monitor
*/
.notification-detail li {
  display: grid;
  grid-template-columns: 50px 1fr 40px;
  grid-gap: 10px;
  border-bottom: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
}
.notification-detail li .avatar-box a img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
.notification-detail li .notification-info img {
  width: 13px;
  height: 13px;
}
.notification-detail li .monac_icons {
  width: 40px;
  height: 50px;
  position: relative;
}
.notification-detail li .monac_icons::before {
  background-size: 2em;
  width: 100%;
  height: 100%;
}
#post-izquierda ul li {
  position: relative;
}
.listado {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.listado .seg_sig {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 5px;
  border: 1px solid #CCC;
  padding: 6px;
}
.listado .seg_sig .listado-avatar a img {
  height: 80px;
}
.listado .seg_sig .txt > a {
  color: var(--bs-dark);
  text-transform: capitalize;
  font-weight: 600;
}